@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

body{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: auto;
    background: linear-gradient(90deg, hsl(210, 100%, 80%), hsl(210, 88%, 67%));
}

* {
    font-family: 'Tapestry', cursive;
}

h1{
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

div{
    border: 2px solid black;
    padding: 15px;
}

section{
    text-align: center;
    margin: 15px; 
}

span{
    font-family: Raleway, sans-serif;
}

a{
    text-decoration: none;
}

input{
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 16px;
    vertical-align: middle;
}